.cardContainer {
    flex: 1;
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    float: left;
    list-style: none;
    margin-right: 20px;
    margin-bottom: 50px;
    position: relative;
    cursor: pointer;
    counter-increment: item;
}

.cardContainer div {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    transition: all .5s;
    backface-visibility: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.cardContainer img {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
}

.cardContainer:hover .front {
    z-index: 0;
    transform: rotateY(180deg);
}

.cardContainer:hover .back {
    transform: rotateY(0);
}
.back {
    transform: rotateY(0);
}

.front {
    z-index: 3;
    color: #333;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    font-family: 'Faster One', cursive;
    background: #c3211c;
    background: -webkit-linear-gradient(45deg, rgba(44, 38, 46, 0.54) 10%, #c3211c 80%);
    background: linear-gradient(45deg, #2c262e 10%, #c3211c 80%);
}

.front:after {
    color: #ffffff;
    /*content: counter(item);*/
}

.back {
    transform: rotateY(180deg);
}