.cardContainer {
    flex: 1;
    border-radius: 5px;
    max-width: 200px;
    max-height: 200px;
    width: 100px;
    height: 100%;
    min-width: 30px;
    min-height: 30px;
    cursor: pointer;
    margin: 0 5px 0 5px;
}

.cardContainer div {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}


.scene {
    perspective: 600px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.cardFace {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.cardFaceFront {
    background: linear-gradient(45deg, #2c262e 10%, #c3211c 80%);
}

.cardFaceBack {
    background: linear-gradient(45deg, #11112e 10%, #0300c3 80%);
    transform: rotateY( 180deg );
}

.card.isFlipped {
    transform: rotateY(180deg);
}

.cardImg {
    border-radius: 5px;
    height: 100%;
    width: 100%;
}