.controlPanelContainer {
    width: 100%;
    box-sizing: border-box;
    font-size: 95%;
    line-height: 1.5;
    font-family: 'Open Sans',sans-serif;
    color: #333;
    text-align: center;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.title {
    display: inline;
    font-weight: bold;
}

.box {
    display: inline-block;
    width: 100%;
    background: white;
    border: 1px solid white;
    border-radius: 3px;
}

input[type=radio] {
    display: none;
}


label {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background: white;
    whitespace: no-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all .15s ease;
}

label:first-of-type {
    border: 0;
}

label:before {
    content: "";
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: .2rem solid #ccc;
}


input:checked + label:before {
    border-color: white;
    border: none;
    background: #e00a00;
}

.reload {
    content: "";
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: .2rem solid #ccc;

    font-size: 1rem;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
}